

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #6c6c6c;
  }
  
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav a {padding: 0px;}
    .sidenav a {font-size: 20px;}
    .sidenav {width: 20%;}
    .main  {width:79% ;
        padding: 0;
    }
    
    
  }
header{
    background-color: rgb(193, 250, 231);
}
@media screen and (min-width: 450px) {
    .main img {
        width: 100%;
    }
}
#contacts{
    background-color: black;
    color: white;
}

.icon a{
    color: white;
    margin: 0 2%;
    display: inline;
}
.donate a{
    color: white;
    float: left;
}
address{
 text-align: left;
}
.container h1{
    text-align: left;
}
main{
    background-color: beige;
    
}
.navbar{
    z-index: 0;
}
.btnM{
    z-index: 1;
    background-color: #A31ACB;
    padding: 0% 2%;
    color: white;
    font-weight: bold;
    position:relative;
    top: 1.8rem;
    left: 41%;
}
.bdr{
    margin:1.2% 0 ;
}
.bdr:hover {
    border: 2px solid ;
    border-color: #A31ACB;
}
.hide {
    display: none;
  }
.myDIV:hover + .hide {
    display: block;
    color: white;
    background-color: #818181;
}
.btn-light{
    margin-right: 10%;
}
.Title{
    margin: 8% 14% ;
    line-height: 6rem;
}
.section{
    background-image: url(img/tree-736885__340.jpg);
     height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
       
}
.card{
    padding: 0 5%;
    background-color:black;
    opacity: 60%;
    font-weight: bold;
    color: white;
}
.highlight{
    background-color: white;
    font-weight: bold;
}
