
/* will apply to all */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* this class contains whole background and the form */
.container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-image:url(img/word-ngo-non-governmental-organization-wooden-cubes-blue-background-196900639.jpg) ;
    background-size: cover;
    position: relative;
}

/* this class contains the form only */
.form-box{
    width: 80%;
    max-width: 450px;
    position: absolute;

    /* pushing 50% 70% from top and left this % is taking whole page as 100% */
    top: 50%;
    left: 70%;

    /* this will push -70% -50%  in X and Y directions taking this class as 100%*/
    transform: translate(-70%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}
.input-field{
    background-color: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 18px 15px;
}
.inputfield i{
    margin-left: 15px;
    color: #999;
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #3c00a0;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group{
    height: 280px;
}

/* this will make feel like this button is not in use  */
.btn-field button.disabled{
    background: #eaeaea;
    color: #555;
}

/* this class will be used to hide anything as per the need. */
.hide{
    display: none;
}
