body{
    background-image: url("img/back.png");
}
.card{
    padding: 0 5%;
    margin-top: 4vh;
    background-color: #2F58CD;
    opacity: 80%;
    font-weight: bold;
    color: black;
}
