body{
    background-image: url("img/back.png");
}
.body{
    background-image: url("img/back.png");
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
}
.card{
    padding: 0 5%;
    margin-top: 4vh;
    background-color: #2F58CD;
    opacity: 80%;
    font-weight: bold;
    color: black;
}
